
  
<div class="social-sign-up">
  <%= link_to omniauth_authorize_path(resource_name, :facebook), class: 'btn btn-primary btn-lg' do %>
    <%= fa_icon 'facebook-square 2x fw' %>Sign Up with Facebook
  <% end %>

  <%= link_to omniauth_authorize_path(resource_name, :twitter), class: 'btn btn-primary btn-lg' do %>
    <%= fa_icon 'facebook-twitter 2x fw' %>Sign Up with Twitter
  <% end %>

  <% #= link_to omniauth_authorize_path(resource_name, :facebook), class: 'btn btn-primary btn-lg' do %>
    <% #= fa_icon 'facebook-google-plus 2x fw' %>Sign Up with Google Plus
  <% # end %>
</div>
  
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to 'Forgot your password?', new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>