<% content_for(:page_title, 'Challenge Your Friends') %>

<div class="vertical-center">
  <div class="container">
    <div class="page-header">
      <div class="row">
    <div class=" col-xs-9">
      <h1>Challenge</h1>
      <p>The fun part! Challenge your friends to pledge.</p>
    </div>
    <div class="counter col-xs-1 col-xs-offset-2">
      <p>4/5</p>
    </div>
</div>
</div>

        <div class="row">
          <div class="col-xs-12">
          <div class="btn-challenge col-xs-2">
            <%= image_tag("facebook.png", :alt => "Challenge with Facebook") %>
            </div>
            <div class="btn-challenge col-xs-2">
            <%= image_tag("twitter.png", :alt => "Challenge with Twitter") %>
            </div>
            <div class="btn-challenge col-xs-2">
            <%= image_tag("google.png", :alt => "Challenge with Google Plus") %>
            </div>
            <div class="btn-challenge col-xs-2">
            <%= image_tag("email.png", :alt => "Challenge with Email") %>
            </div>
            <div class="btn-challenge col-xs-2">
            <%= image_tag("sms.png", :alt => "Challenge with SMS") %>
            </div>
            </div>
          </div>
  

      </div>
    </div>
  </div>
</div>