<% content_for(:page_title, 'Pledge') %>

<div class="vertical-center">
  <div class="container">
      <div class="page-header">
      <div class="row">
    <div class=" col-xs-9">
      <h1>Pledge</h1>
      <p>How much would you like to pledge?</p>
    </div>
    <div class="counter col-xs-1 col-xs-offset-2">
      <p>2/5</p>
    </div>
</div>
</div>

      <div class="row">
        <div id="btn-pledge" class="col-xs-12">
          <div class="col-xs-4">
            <%= link_to '$10', page_path('authorization'), class: "btn btn-primary btn-lg btn-block", type: "button" %>
          </div>
          <div class="col-xs-4">
            <%= link_to '$20', page_path('authorization'), class: "btn btn-primary btn-lg btn-block", type: "button" %>
          </div>
          <div class="col-xs-4">
            <%= link_to '$50', page_path('authorization'), class: "btn btn-primary btn-lg btn-block", type: "button" %>
          </div>
        <div class="col-xs-4">
            <%= link_to '$100', page_path('authorization'), class: "btn btn-primary btn-lg btn-block", type: "button" %>
          </div>
          <div class="col-xs-8">
            <%= link_to 'Other amount...', page_path('authorization'), class: "btn btn-primary btn-lg btn-block", type: "button" %>
          </div>
        </div>
        
      </div>