<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @charity.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @charity.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @charity.url %>
</p>

<%= link_to 'Edit', edit_charity_path(@charity) %> |
<%= link_to 'Back', charities_path %>
