<!-- Jumbotron header -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h1>Sign In</h1>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Breadcrumb Nav -->
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 sign-up-module">
        <p class="lead">Please log in with your favorite social service or email</p>
        <em><%= link_to 'need to sign up for a new account?', new_user_registration_path, class: 'pull-right' %></em>
        
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
          <div class="social-sign-up">
            <%= button_to omniauth_authorize_path(resource_name, :facebook), class: 'btn btn-primary btn-lg' do %>
              <%= fa_icon 'facebook-square 2x fw' %>Sign Up with Facebook
            <% end %>

            <%= button_to omniauth_authorize_path(resource_name, :twitter), class: 'btn btn-info btn-lg' do %>
              <%= fa_icon 'twitter-square 2x fw' %>Sign Up with Twitter
            <% end %>
          </div>
        </div>
        
        <div class="col-xs-12 col-sm-5 col-sm-offset-1 email-sign-up">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), role: 'form') do |f| %>
            <%= devise_error_messages! %>
          
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
            </div>
            
            <div class="form-group">
              <%= f.submit 'Log in', class: 'btn btn-success btn-block' %>
            </div>
          
            <% end %>
        </div>
      </div>
  </div>
</div>
