<%= form_for @pledge_form, url: pledges_path, method: :post, html: {:'data-type' => 'json'}, authenticity_token: '{{pledge_form.authenticity_token}}' do |f| %>
  <%= f.hidden_field :stripe_auth_token %>
  <%= f.hidden_field :charity_id, value: '{{pledge_form.charity_id}}' %>
  <%= f.hidden_field :amount, value: '{{pledge_form.amount}}' %>
  <%= f.hidden_field :tip_percentage, value: '{{pledge_form.tip_percentage}}' %>

  <div class="container">
    
    <% if ENV['STRIPE_KEY'].include? 'test' %>
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-warning">
            <p class="text-center">Stripe Test Mode</p>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= @pledge_form.charity.name %></h3>
          </div>

          <div class="panel-body">
            # TODO: Placeholder for charity donation amount and stuffs
          </div>

          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-danger hidden" id="payment-errors" role="alert">
            {{#each pledge_form.errors}}
              {{ error }}
            {{/each}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">

            <div class="panel-heading">
              <h3 class="panel-title">Credit Card Info</h3>
            </div>

            <div class="panel-body form-horizontal">

              <!-- Card Holder Name -->
              <div class="form-group">
                <%= label_tag :name, 'Full Name', class: 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= f.text_field :name, value: '{{pledge_form.name}}', placeholder: 'Card Holder Name', autocomplete: 'name cc-name', 'data-stripe' => 'name', class: 'form-control', required: true %>
                </div>
              </div>

              <!-- Email -->
              <div class="form-group">
                <%= label_tag :email, 'Email', class: 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= f.email_field :email, value: '{{pledge_form.email}}', placeholder: 'Email', autocomplete: 'email', class: 'form-control', required: true %>
                </div>
              </div>

              <!-- Card Number -->
              <div class="form-group">
                <%= label_tag :number, 'Card Number', class: 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= telephone_field_tag nil, nil, placeholder: 'Card Number', 'data-stripe' => 'number', maxlength: '19', autocomplete: 'cc-number', class: 'form-control', required: true %>
                </div>
              </div>

              <!-- Expiry-->
              <div class="form-group">
                <%= label_tag :exp, 'Expiration Date', class: 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <div class="input-group">
                    <%= telephone_field_tag nil, nil, placeholder: 'MM', 'data-stripe' => 'exp_month', maxlength: '2', autocomplete: 'cc-exp-month', class: 'form-control', required: true %>
                    <span class="input-group-addon"> / </span>
                    <%= telephone_field_tag nil, nil, placeholder: 'YY', 'data-stripe' => 'exp_year', maxlength: '2', autocomplete: 'cc-exp-year', class: 'form-control', required: true %>
                  </div>
                </div>
              </div>

              <!-- CVV -->
              <div class="form-group">
                <%= label_tag :cvv, 'CVV', class: 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= telephone_field_tag nil, nil, placeholder: 'CVV', 'data-stripe' => 'cvc', maxlength: '4', autocomplete: 'cc-csc', class: 'form-control', required: true %>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel panel-default">

            <div class="panel-heading">
              <h3 class="panel-title">Billing Address</h3>
            </div>

            <div class="panel-body form-horizontal">

              <!-- Street -->
              <div class="form-group">
                <%= label_tag :address_lines, 'Street', class: 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= text_field_tag nil, nil, placeholder: 'Street', 'data-stripe' => 'address_line1', autocomplete: 'billing street-address', class: 'form-control', required: true %>
                </div>
              </div>
              
              <!-- City -->
              <div class="form-group">
                <%= label_tag :address_city, 'City', class: 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= text_field_tag nil, nil, placeholder: 'City', 'data-stripe' => 'address_city', autocomplete: 'billing address-level2', class: 'form-control', required: true %>
                </div>
              </div>

              <!-- State -->
              <div class="form-group">
                <%= label_tag :address_state, 'State', class: 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= text_field_tag nil, nil, placeholder: 'State', 'data-stripe' => 'address_state', autocomplete: 'billing address-level1', class: 'form-control', required: true %>
                </div>
              </div>

              <!-- Postcal Code -->
              <div class="form-group">
                <%= label_tag :address_zip, 'Postal Code', class: 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= telephone_field_tag nil, nil, placeholder: 'Postal Code', 'data-stripe' => 'address_zip', maxlength: '9', autocomplete: 'billing postal-code', class: 'form-control', required: true %>
                </div>
              </div>

              <!-- Country -->
              <div class="form-group">
                <label class="col-sm-4 control-label" for="textinput">Country</label>
                <div class="col-sm-8">
                  <%= country_select nil, nil, { selected: 'US' }, { 'data-stripe' => 'address_country', autocomplete: 'billing country', class: 'country form-control', required: true, id: nil, name: nil } %>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-12">
          <%= f.submit 'Authorize', class: 'btn btn-success btn-block', 'data-disable' => 'enabled' %>
        </div>
      </div>
    
    </div>

    <br />

<% end %>