<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page_title(:separator => " | ") %></title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body class="<%= body_class %>">
    
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Pay It Forward', root_path, class: 'navbar-brand' %>
        </div>
        
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <% if user_signed_in? %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-default navbar-btn navbar-right', type: 'button' %>
          <% else %>
            <%= link_to 'Sign Up / Sign In', new_user_session_path, class: 'btn btn-default navbar-btn navbar-right', type: 'button' %>
          <% end %>
        </div>
        
      </div>
    </div>
      
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-info" role="alert">
          <%= value %>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>